{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>비밀번호 재설정</title>
        <meta name="password reset" content="password reset page for LCD project">

        <!-- link css file -->
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/common.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/signUp.css' %}">

        <!-- link javascript file -->
        <script src="{% static 'login/javascript/checkValidity.js' %}"></script>
        <script src="{% static 'login/javascript/eventHandler.js' %}"></script>

        <script>       
            //context 데이터 읽어서 변수로 저장           
            form_num = {{ form_num }}; //현재 보여주는 form 번호

            try{
                var decodedInput = '{{ input }}'.replace(/&#x27;/g, '"'); //input 파싱
                var input = JSON.parse(decodedInput); //입력 칸에 입력된 데이터
            } catch(e){
                var input = "none";
            }

            try{
                var decodedMessage = '{{ messages }}'.replace(/&#x27;/g, '"'); //messages 파싱
                var messages = JSON.parse(decodedMessage); //각 입력 칸에 대해 출력할 메시지
            } catch(e){
                var messages = "none";
            }
        </script>
    </head>
    <body>
        <h1>비밀번호 재설정</h1>
        <!-- form 0 : email input -->
        <form id="f0" class="f" action="{% url 'pwReset' %}" method="POST">
            {% csrf_token %}
            <h3>이메일을 입력하세요</h3><br>
            <label for="userID" id="userIDLabel">이메일</label><br>
            <input type="email" id="userID" name="userID" placeholder="이메일"><br>
            <label for="userID" id="userIDMessage" class="message">message</label><br>
            <a href="./" class="cancel">취소</a>
            <input type="submit" class="submit_btn" value="다음">
        </form>
        <!-- form 1 : verification code input -->
        <form id="f1" class="f" action="{% url 'pwReset' %}" method="POST">
            {% csrf_token %}
            <h3>이메일로 전송된 코드를 입력하세요</h3><br>
            <label for="verification" id="verificationLabel">코드 입력</label><br>
            <input type="text" id="verification" name="verification" placeholder="코드 입력"><br>
            <label for="verification" id="verificationMessage" class="message">message</label><br>
            <a href="./" class="cancel">취소</a>
            <input type="submit" class="submit_btn" value="다음">
        </form>
        <!-- form 2 : password and password confirm input -->
        <form id="f2" class="f" action="{% url 'pwReset' %}" method="POST">
            {% csrf_token %}
            <h3>비밀번호를 입력하세요</h3><br>
            <label for="password" id="passwordLabel">비밀번호</label><br>
            <input type="password" id="password" name="password" placeholder="비밀번호"><br>
            <label for="password" id="passwordMessage" class="message">message</label><br>

            <label for="passwordConfirm" id="passwordConfirmLabel">비밀번호 재입력</label><br>
            <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="비밀번호 재입력"><br>
            <label for="passwordConfirm" id="passwordConfirmMessage" class="message">message</label><br>
            <a href="./" class="cancel">취소</a>
            <input type="submit" class="submit_btn" value="다음">
        </form>
        <!-- display when password reset succeed -->
        <div id="f3">
            <h3>비밀번호가 변경 되었습니다</h3><br>
            <a href="./">로그인 페이지로 이동하기</a>
        </div>
        <!-- display when password reset failed -->
        <div id="f4">
            <h3>비밀번호 변경 실패</h3><br>
            <a href="./">로그인 페이지로 이동하기</a>
        </div>

        <script src="{% static 'login/javascript/signUp.js' %}"></script>
    </body>
</html>